@tailwind base;
@tailwind components;
@tailwind utilities;

.overlayEnabled {
  background-color: rgba(0, 0, 0, 0.5);
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

/* .menu-open #menuHeader {
  background-color: white;
  color: #323946;
}

.hamburgerMenuIcon {
  fill: none;
} */